{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if messages %} 
{% for message in messages %}
<div class="alert alert-info text-center">
    {{ message }}
</div>
{% endfor %}
{% endif %}
<!-- slider Area Start-->

<!-- model pop up form for join now -->
<div class="modal fade" id="joinnow" tabindex="-1" role="dialog" aria-labelledby="joinnow" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Join Now</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'web:contact' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter Name">
                    </div>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input type="text" class="form-control" id="phone" name="phone" placeholder="Enter Phone">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- model pop up form for join now -->



<div class="slider-area position-relative">
    <div class="slider-active dot-style">
        <!-- Single Slider -->
        <div class="single-slider hero-overly slider-height slider-bg1 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-10">
                        <div class="hero__caption">
                            <h1 data-animation="fadeInUp" data-delay=".2s">Nature</h1>
                            <P data-animation="fadeInUp" data-delay=".4s">has limited capacity to replenish the
                                resources… <br>
                                <span style="font-size:150%; text-transform: initial;"> Conserve it ! </span>
                            </P>


                            <!-- Hero-btn -->
                            <!-- <div class="hero__btn">
                                        <a href="industries.html" class="hero-btn mb-10"  data-animation="fadeInUp" data-delay=".8s">Join Us Now</a>
                                    </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Single Slider -->
        <div class="single-slider hero-overly slider-height slider-bg1 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-10">
                        <div class="hero__caption">
                            <h1 data-animation="fadeInUp" data-delay=".2s"> Biodiversity</h1>
                            <P data-animation="fadeInUp" data-delay=".4s">our mere existence depends upon… <br>
                                <span style="font-size:150%; text-transform: initial;"> Protect it ! </span>
                            </P>

                            <!-- Hero-btn -->
                            <!-- <div class="hero__btn">
                                        <a href="industries.html" class="hero-btn mb-10"  data-animation="fadeInUp" data-delay=".8s">Join Us Now</a>
                                    </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Single Slider -->
        <div class="single-slider hero-overly slider-height slider-bg1 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-10">
                        <div class="hero__caption">
                            <h1 data-animation="fadeInUp" data-delay=".2s">Environment</h1>
                            <P data-animation="fadeInUp" data-delay=".4s"> canopy of elements for the survival… <br>

                                <span style="font-size:150%; text-transform: initial;"> Preserve it !</span>
                            </P>
                            <!-- Hero-btn -->
                            <!-- <div class="hero__btn">
                                        <a href="industries.html" class="hero-btn mb-10"  data-animation="fadeInUp" data-delay=".8s">Join Us Now</a>
                                    </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--? video_start -->
    <!-- <div class="video-area d-flex align-items-center justify-content-center">
        <div class="video-wrap position-relative">
            <div class="video-icon">
                <a class="popup-video btn-icon" href="{% static 'Our Planet S01E02.mp4"><i class="fas fa-play"></i></a>
            </div>
        </div>
    </div> -->
    <!-- video_end -->

</div>
<!-- slider Area End-->
<!--? Visit Our Tailor Start -->
<!-- <div class="visit-tailor-heading">
    <h2> Our Goal is to <span>live</span> in harmony with <span>nature</span> </h2>
</div> -->
<div class="visit-tailor-area fix">
    <!--Right Contents  -->
    <div class="tailor-offers"></div>
    <!-- left Contents -->
    <div class="tailor-details text-justify" >
        <h2> Our Goal is to live in harmony with nature</h2>
        <h3> Dear friends, </h3>
        <p>We have only one home to live in! We share it with 7.8 billion fellow human beings, nearly 1.2 million
            cataloged species of plants and animals and estimated 7.5 million eukaryotic species – yet to be discovered.
        </p>
        <p>
            Beyond doubt, everything and everyone is intricately interconnected that the existence of one depends upon
            the other and on the fine balance of biotic and abiotic component of the ecosystem. Mother nature has
            envisaged and ensured it since 4.6 billion years, since our home <b>Planet Earth </b> came into existence.
        </p>

        <p>
            Unfortunately, the greed of our species has put the mere existence of every other species on the edge,
            including our own. We human beings are consuming earth resources too fast – faster than they can be
            replenished. This reckless consumption is depleting the world’s natural capital. This global overshoot is
            growing and, as a consequence, ecosystems are being run down and waste is accumulating in the air, land, and
            water. The resulting deforestation, global warming, water shortages, declining biodiversity, habitat loss
            and climate change is endangering our future.
        </p>


        <p> We human beings have a remarkable track record of ingenuity and problem solving. The same spirit that took
            us to the moon must now be harnessed to free future generations from ecological crises. We need to pledge to
            stop the degradation of the planet’s natural environment and to build a future in which humans live in
            harmony with nature.
        </p>

        <p>
            Let us begin to live within the means of the planet, while securing our own well-being and the ecosystems on
            which we depend. Let us individual decide and work to reduce his/her own ecological footprint, so that, this
            micro eco-management add up and the entire human economy operates within the Earth’s ecological limits. If
            we have the will, we have the way.
        </p>
        <div class="footer-tittles">
            <p> Kapil Gupta</p>

        </div>
    </div>
</div>
<!-- Visit Our Tailor End -->
<!--? Services Area Start -->
<div class="service-area section-padding30">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-10 ">
                <!-- Section Tittle -->
                <div class="section-tittle text-center mb-80">
                    <h2>We lose forest areas the size of 27 football fields every minute</h2>
                    <p class="pl-20 pr-20">Let us begin to live within the means of the planet, while securing our own well-being and the ecosystems on which we depend.</p>
                </div>
            </div>
        </div>
        <div class="row">
            {% for p in projects %}
            <div class="col-lg-4 col-md-6 col-sm-11">
                <div class="single-cat text-center mb-30">
                    <div class="cat-icon">
                        <img src="{{p.imageUrl}}" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5><a href="{{p.absolute_url}}">{{p.title}}</a></h5>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Services Area End -->
<!--? About Area Start -->
<section class="support-company-area fix pt-5n">
    <div class="support-wrapper align-items-center">
        <div class="right-content pl-60">
            <!-- section tittle -->
            <div class="section-tittle section-tittle2 mb-30">
                <span style="font-size: 150%;">Why you should be one of us</span>
                <h3>We volunteer ourselves to mend our relationship with nature</h3>
            </div>
            <div class="support-caption">
                <p class="pera-top"> To secure our future, we need to take a sustainable growth path, where our ways of
                    living and technology
                    ensures and empowers us to restore a healthy relationship with nature - maintaining its finer
                    balance of biodiversity
                    and ecosystems.</p>
                <!-- <a href="{% url 'web:contact' %}" class="border-btn">Join Now</a> -->
                <!-- joinnow model button  -->
                <button type="button" class="border-btn" data-toggle="modal" data-target="#joinnow">
                    Join Now</button>
            </div>
        </div>
        <div class="right-content">
            <!-- img -->
            <div class="right-img pr-80">
                <img src="{% static 'img/gallery/safe_in.png' %}" alt="">
            </div>
            <div class="support-img-cap text-center d-flex">
                <div class="single-one">
                    <span>{{count}}</span>
                    <p>Volunteers worldwide</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Area End -->
<!--? Our Cases Start -->
<div class="our-cases-area section-padding30">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-10 ">
                <!-- Section Tittle -->
                <div class="section-tittle text-center mb-80">
                    <h2>In only 45 years , we loose 69% of population of different species</h2>
                    <p class="pl-20 pr-20">Biodiversity is the foundation of virtually all
                        terrestrial ecosystems and provide fundamental support for existence and contunity  of life on earth, including human beings.</p>
                </div>
            </div>
        </div>
        <div class="row">
            {% for blog in blogs %}
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-cases mb-40">
                    <div class="cases-img">
                        <img src="{{blog.imageUrl}}" alt="{{blog.title}}">
                    </div>
                    <div class="cases-caption">
                        <h3><a href="{{blog.absolute_url}}">{{blog.title}}</a></h3>
                        <p>{{blog.summary|safe}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Our Cases End -->
<!--? Blog Area Start -->
<!-- <section class="home-blog-area pb-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-9 col-md-11">
                <div class="section-tittle text-center mb-90">
                    <h2>Latest news</h2>
                    <p>Interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum
                        lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="home-blog-single mb-30">
                    <div class="blog-img-cap">
                        <div class="blog-img">
                            <img src="{% static 'img/gallery/home-blog1.png' %}" alt="">
                        </div>
                        <div class="blog-cap">
                            <h3><a href="blog_details.html">Leverage agile frameworks to provide a robust synopsis</a>
                            </h3>
                            <p>The automated process starts as soon as your clothes go into the machine. Duis cursus, mi
                                quis viverra ornare.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="home-blog-single mb-30">
                    <div class="blog-img-cap">
                        <div class="blog-img">
                            <img src="{% static 'img/gallery/home-blog2.png' %}" alt="">
                        </div>
                        <div class="blog-cap">
                            <h3><a href="blog_details.html">Leverage agile frameworks to provide a robust synopsis</a>
                            </h3>
                            <p>The automated process starts as soon as your clothes go into the machine. Duis cursus, mi
                                quis viverra ornare.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- Blog Area End -->

{% endblock %}